[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mysqldb = "*"
flask-cors = "*"
requests = "*"
matplotlib = "*"
pillow = "*"
numpy = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
